<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap4.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <%- include('layout/header'); %>

      <main class="main-section">
        <div class="container-fluid">
          <div class="row">
            <div class="col col-12">
              <div class="row">
                <div class="col col-3">
                  <div class="card bg-yellow" style="height: 300px">
                    <p class="card-header">
                      Programming
                    </p>
                    <div class="card-body">
                      javascripts
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main><!-- main-section end -->
   
     <!-- <%-include('layout/footer') %> -->

     <!-- <script src="/javascripts/drag-element.js"></script> -->
  </body>
</html>
