<nav>
    <ul class="nav-list">
        <li>
            <img class="logo" src="/images/logo.jpg" alt="logo">
        </li>
        <li class="nav-list-item"> <a href="#">Blog</a> </li>
        <li class="nav-list-item"> <a href="#">About</a> </li>
        <li class="nav-list-item"> <a href="#">Profile</a> </li>
        <li class="nav-list-item"><a href="">Login</a> </li>
        <li class="nav-list-item"> <a href="#">Registration</a> </li>
    </ul>
</nav>